@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: none;
}

.middleContent {
  display: none;
}

@media screen and (min-width: 320px) {
  .middleContent {
    visibility: hidden;
    opacity: 0;
    display: none;
  }
}

/* SMALL DEVICES - TABLETS */

.cardPattern {
  background-color: #08086117;
}

@media screen and (min-width: 768px) {
  .middleContent {
    visibility: initial;
    opacity: 1;
    display: flex;
  }
}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-track {
  opacity: 0;
  background-color: #e2e8f0;
}

::-webkit-scrollbar-thumb {
  opacity: 0;
  background-color: #ffffff;
  border-radius: 2px;
}

input[type='number'] {
  -moz-appearance: textfield;
}
input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
